<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    body{
        background-color: black;
    }
    .first{
        color: yellow;
    }
</style>

<body>
<div class="first">
    <h1>Enter your informationa & Submit</h1>
    <form action="/submit" method="post">

        <label for="Name">Name</label>
        <input type="text" name="Name" id="Name" placeholder="Enter Name">

        <label for="age">Age</label>
        <input type="text" name="Age" id="Age" placeholder="Enter Age">

        <br>

        <input type="submit" value="Submit">


    </form>


</div>
    
</body>
</html>